version: "3.9"

services:

  timescale-db:
    image: timescale/timescaledb:latest-pg17
    container_name: timescale-db
    restart: unless-stopped
    ports:
      - 5432:5432
    environment:
      - POSTGRES_USER=timescale
      - POSTGRES_PASSWORD=timescale
      - POSTGRES_DB=tradeforge
    volumes:
      - db_data:/var/lib/postgresql/data
    networks:
      - tradeforge_net

  fastapi-web:
    build: ./app
    command: uvicorn web.main:app --host 0.0.0.0 --port 8080 --reload
    container_name: fastapi-web
    restart: unless-stopped
    volumes:
      - ./app:/app
    ports:
      - "8080:8080"
    environment:
      - REDIS_HOST=redis
    depends_on:
      - timescale-db
    networks:
      - tradeforge_net

  nginx-proxy:
    image: nginx:1.27.4
    container_name: nginx-proxy
    restart: unless-stopped
    volumes:
      - ./app/web/proxy/nginx.conf:/etc/nginx/conf.d/default.conf
      - /var/run/docker.sock:/tmp/docker.sock:ro
    ports:
      - "80:80"
    depends_on:
      - fastapi-web
    networks:
      - tradeforge_net 

  db-admin:
    image: dpage/pgadmin4
    container_name: db-admin
    restart: always
    environment:
      PGADMIN_DEFAULT_EMAIL: dbadmin@tradeforge.net
      PGADMIN_DEFAULT_PASSWORD: timescale
    ports:
      - "5050:80"
    networks:
      - tradeforge_net
    volumes:
      - pgadmin_data:/var/lib/pgadmin

  redis:
    image: redis:7
    container_name: redis
    ports:
      - "6379:6379"
    networks:
      - tradeforge_net

  minute-bar-stream:
    build: ./app
    container_name: minute-bar-stream
    command: python data/stream_minute_bars.py
    depends_on:
      - redis
      - timescale-db
    networks:
      - tradeforge_net

  celery-worker:
    build: ./app
    container_name: celery-worker
    command: celery -A tasks.tasks.celery worker --loglevel=info -B
    depends_on:
      - redis
    networks:
      - tradeforge_net

  celery-flower:
    build: ./app
    container_name: celery-flower
    command: celery --app=tasks.tasks:celery --broker=redis://redis:6379/0 flower 
    ports:
      - "5555:5555"
    depends_on:
      - fastapi-web
      - redis
    volumes:
      - flower_data:/etc/db
    networks:
      - tradeforge_net

  portainer:
    container_name: portainer
    image: portainer/portainer-ce:lts
    restart: always
    ports:
      - 8000:8000
      - 9000:9000
      - 9443:9443
    networks:
      - tradeforge_net
    depends_on:
      - fastapi-web
    volumes:
      - portainer_data:/data
      - /var/run/docker.sock:/var/run/docker.sock
  
  prometheus:
    container_name: prometheus
    image: prom/prometheus
    command:
      - "--web.external-url=/prometheus/"
      - "--config.file=/etc/prometheus/prometheus.yml"
    volumes:
      - ./app/prom/prometheus.yml:/etc/prometheus/prometheus.yml
    ports:
      - "9090:9090"
    networks:
      - tradeforge_net

  grafana:
    image: grafana/grafana
    container_name: grafana
    ports:
      - "3000:3000"
    environment:
      - GF_SERVER_ROOT_URL=http://localhost/grafana/
    volumes:
      - grafana_data:/var/lib/grafana
    depends_on:
      - prometheus
    networks:
      - tradeforge_net

networks:
  tradeforge_net:
    name: tradeforge_net

volumes:
  db_data:
  pgadmin_data:
  portainer_data:
  grafana_data:
  task_logs:
  flower_data: