{% extends "layout.html" %}

{% block title %}

<title>Strategy | Tradeforge</title>

{% endblock %}

{% block content %}
<h2>{{ strategy.name }}</h2>

<table class="ui striped table">
    <thead>
        <tr>
            <th>Symbol</th>
            <th>Name</th>
            <th></th>
        </tr>
    </thead>
    {% for asset in assets %}
    <tr>
        <td>{{ asset.symbol }}</td>
        <td><a href="/asset/{{ asset.symbol }}">{{ asset.name }}</a></td>
        <td>
            <form method="POST" action="/delete_strategy">
                <input type="hidden" name="strategy_id" value="{{ strategy.id }}">
                <input type="hidden" name="asset_id" value="{{ asset.id }}">
                <input type="submit" value="Delete" class="ui button right floated">
            </form>
        </td>
    </tr>
    {% endfor %}
</table>

{% endblock %}